body {
    margin: 0;
    text-align: center;
    background-color: #fdf8cc;
}
h1 {
    color: #42032C;
    position: relative;
    z-index: 999;
}
h2 {
    color: #42032C;
    position: relative;
    z-index: 999;
}
.top-box {
    background-color: #ecd6a9; 
    border: 10px solid; 
    border-color: #df8f40;
    padding: 30px;
} 
     
.middle-box { 
    background-color: #f7d48e; 
    border: 20px solid;
    border-color: #42032C;
    padding: 20px;
} 
.bottom-box {  
    background-color: #f8d996; 
    border: 10px solid;
    border-color: #df8f40; 
    padding: 30px;
} 
.bottom-cloud {
    position: relative;
    bottom:150px;
    width: 100px; 
    height: 100px; 
}
.top-cloud {
    position: relative;
    bottom: 10px;
    left: 90px;
    width: 200px; 
    height: 200px;
}
.mountains {
    position: relative;
    top: 82px;
    left: 100px;
    width: 250px; 
    height: 250px;
}