body {
    margin: 0;
    text-align: center;
    background-color: #fdf8cc;
}
h1 {
    color: #42032C;
    position: relative;
    z-index: 999;
}
h2 {
    color: #42032C;
    position: relative;
    z-index: 999;
}
p {
    color: #42032C;
}
.top-box {
    background-color: #FEE0C0; 
    border: 10px solid; 
    border-color: #D36B00;
    padding: 30px;
} 
     
.middle-box { 
    background-color: #F5C7A9; 
    border: 20px solid;
    border-color: #42032C;
    padding: 20px;
} 
.bottom-box {  
    background-color: #FEE0C0; 
    border: 10px solid;
    border-color: #D36B00; 
    padding: 30px;
} 
.bottom-cloud {
    filter: invert(100%);
    position: relative;
    bottom:150px;
    width: 100px; 
    height: 100px; 
}
.top-cloud {
    filter: invert(100%);
    position: relative;
    bottom: 10px;
    left: 90px;
    width: 200px; 
    height: 200px;
}
.mountains {
    filter: invert();
    filter: sepia(100%);
    position: relative;
    top: 82px;
    left: 100px;
    width: 250px; 
    height: 250px;
}